<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/HAL9000.svg/1024px-HAL9000.svg.png" width="27" height="27"> Fake HAL Test</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Main <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
          <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Associations</a>
          <div class="dropdown-menu hide" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(220px, -3px, 0px);">
            <a class="dropdown-item" href="#">Severities to Actions</a>
            <a class="dropdown-item" href="#">Log Numbers to Severities</a>
          </div>
          <a class="dropdown-item" href="#">Actions</a>
          <a class="dropdown-item" href="#">Severities</a>
          <a class="dropdown-item" href="#">Source Systems</a>
          <a class="dropdown-item" href="#">Log Numbers By Systems</a>
          <a class="dropdown-item" href="#">Diagram Logs</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1>HAL <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/HAL9000.svg/1024px-HAL9000.svg.png" width="35" height="35"></h1>
    <p class="small text-info">Insert Server/Service Info Dropdown Here</p>
  </div>

  <div class="container">
    <h3>Update Report</h3>
    Added:
    <ul>
      <li>Bootstrap<br>
      <span class="small text-success">&nbsp;&nbsp;&nbsp;No problems</span></li>
      <li>CSS Theme<br>
      <span class="small text-success">&nbsp;&nbsp;&nbsp;Looks good</span></li>
      <li>Unfilled table with proper number of columns<br>
      <span class="small text-warning">&nbsp;&nbsp;&nbsp;It's a start, at least</span></li>
    </ul>
    In Progress:
    <ul>
      <li>Working Navs<br>
      <span class="small text-success">&nbsp;&nbsp;&nbsp;Navs in place</span><br>
      <span class="small text-warning">&nbsp;&nbsp;&nbsp;No links/popups implemented</span></li>
      <li>Table Page Switcher<br>
      <span class="small text-success">&nbsp;&nbsp;&nbsp;Buttons in place</span><br>
      <span class="small text-warning">&nbsp;&nbsp;&nbsp;No alt. pages to switch to</span></li>
      <li>Page Layout</li>
    </ul>
    To Do:
    <ul>
      <li>Server Info Dropdown<br>
      <span class="small text-danger"></span></li>
      <li>Table Data<br>
      <span class="small text-danger">&nbsp;&nbsp;&nbsp;Don't know how to get the data</span></li>
      <li>Form for Table Search<br>
      <span class="small text-danger">&nbsp;&nbsp;&nbsp;Forms won't cooperate with me</span></li>
    </ul>
    <br>
  </div>

  <div class="d-flex flex-wrap justify-content-center">
    <form>
      <!--Form Goes Here-->
      <!--
        Process:
          Dropdown
            Contains
            Begins With
            Ends With
          Search Box
        Trace:
          Dropdown
            Contains
            Begins With
            Ends With
          Search Box
        Environment:
          Dropdown
            Contains
            Begins With
            Ends With
          Search Box
        System:
          Dropdown
        Include:
          Dropdown
            All
            Errors
            Informational
        <LINE BREAK>
        From:
          Date Select
        To:
          Date Select
        Refresh Page:
          Number Input
        Lines/Page:
          Number Input
        Reload Button
      -->
    </form>

    <div class="d-flex flex-wrap justify-content-center">
      <span id="ctl00_contentPlaceHolder_lblTotalRows" class="label_left">|&nbsp;Total&nbsp;Rows:&nbsp;<b>445</b>&nbsp;|&nbsp;Page:&nbsp;<b>1</b>&nbsp;of&nbsp;<b>18</b>&nbsp;|</span>&nbsp;&nbsp;&nbsp;
      <ul class="pagination pagination-sm">
        <li class="page-item">
          <a class="page-link" href="#">&lt;&lt;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&lt;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&gt;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&gt;&gt;</a>
        </li>
      </ul>
    </div>

    <table class="table table-hover">
      <thead>
        <tr class="table-primary">
          <th scope="col">System</th>
          <th scope="col">Message</th>
          <th scope="col">Process</th>
          <th scope="col">Trace</th>
          <th scope="col">Environment</th>
          <th scope="col">Created Date</th>
          <th scope="col">ID</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-light">
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="table-warning">
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="table-light">
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="table-danger">
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>