<nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/HAL9000.svg/1024px-HAL9000.svg.png" width="27" height="27"> Fake HAL Test</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button type="button" class="btn" (click)="toMain()">Main <span class="sr-only">(current)</span></button>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Maintenance</a>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
          <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Associations</a>
          <div class="dropdown-menu hide" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(220px, -3px, 0px);">
            <button class="dropdown-item" (click)="toStA()">Severities to Actions</button>
            <button class="dropdown-item" (click)="toLNtA()">Log Numbers to Severities</button>
          </div>
          <button class="dropdown-item" (click)="toAct()">Actions</button>
          <button class="dropdown-item" (click)="toSev()">Severities</button>
          <button class="dropdown-item" (click)="toSS()">Source Systems</button>
          <button class="dropdown-item" (click)="toLN()">Log Numbers By Systems</button>
          <button class="dropdown-item" (click)="toDL()">Diagram Logs</button>
        </div>
      </li>
      <li class="nav-item">
        <button type="button" class="btn" (click)="toggle2()">Help</button>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container" style="margin-bottom: 8rem;">
  <ng-container *ngIf="show2">
    <div class="alert alert-info" style="margin: 1rem;">
      <h5 style="text-align: center;">HAL&nbsp;-&nbsp;About&nbsp;&nbsp;<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/HAL9000.svg/1024px-HAL9000.svg.png" width="27" height="27"></h5>
      <div class="d-flex w-100 justify-content-center">
        <div class="col-lg-5" style="min-width: 35rem; max-width: 35rem; text-align:center">
          <p class="small">
            VMware, Inc. - VMware Virtual Platform<br>
            Processor(s): 2<br>
            GenuineIntel - Intel&#174; Xeon&#174; CPU E5-2680 v2 &#64; 2.80GHz<br>
            GenuineIntel - Intel&#174; Xeon&#174; CPU E5-2680 v2 &#64; 2.80GHz<br>
            Total RAM Memory: 33,554,432K<br>
            Microsoft Windows Server 2012 R2 Standard - 6.3.9600 &#123; spk:0 &#125;<br>
            C: - Local Fixed Disk - NTFS &#123; Size: 59.6GB - Free Space: 12.9GB / 21.7% &#125;<br>
            IP(s): &#123; ::1, 10.1.10.54 &#125;<br>
            Runtime: v4.0.30319<br>
            Temp Directory: c:\windows\temp\<br>
            IsProd Environment: False<br>
            DB Instance Name: it-novadeverrors
          </p>
        </div>
      </div>
      <div class="d-flex w-100 justify-content-center">
        <div class="justify-content-center">
          <table class="table small">
            <thead>
              <tr class="table-dark">
                <th scope="col" style="text-align:center">Key</th>
                <th scope="col" style="width:6px;"></th>
                <th scope="col" style="text-align:center">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-light">
                <td style="text-align:left">internal.applog.error.email.to</td>
                <td style="width:6px;"></td>
                <td style="text-align:right">it-novadeverrors@thedoctors.com</td>
              </tr>
              <tr class="table-light">
                <td style="text-align:left">ValidationSettings:UnobtrusiveValidationMode</td>
                <td style="width:6px;"></td>
                <td style="text-align:right">None</td>
              </tr>
              <tr class="table-light">
                <td style="text-align:left">starteam.listener.active</td>
                <td style="width:6px;"></td>
                <td style="text-align:right">False</td>
              </tr>
              <tr class="table-light">
                <td style="text-align:left">config.database.connection</td>
                <td style="width:6px;"></td>
                <td style="text-align:right">applog@itdev</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="jumbotron">
    <h1 style="text-align: center">
      {{Title}}
      <ng-container *ngIf="showMain">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/HAL9000.svg/1024px-HAL9000.svg.png" width="35" height="35">
      </ng-container>
    </h1>
    <div class="d-flex flex-wrap justify-content-center">
      <p>
        <button type="button" class="btn btn-info" (click)="toggle()">{{SIB}}</button>
      </p>
    </div>
    <ng-container *ngIf="show">
      <div class="d-flex flex-wrap justify-content-center">
        <div class="list-group col-lg-3">
          <a href="#" class="list-group-item list-group-item-action small">Current Date:</a>
          <a href="#" class="list-group-item list-group-item-action small">Application Started:</a>
          <a href="#" class="list-group-item list-group-item-action small">Application / ID:</a>
          <a href="#" class="list-group-item list-group-item-action small">Application User:</a>
          <a href="#" class="list-group-item list-group-item-action small">Listener Interval / Count</a>
          <a href="#" class="list-group-item list-group-item-action small">Listener Last Run:</a>
          <a href="#" class="list-group-item list-group-item-action small">Email Info:</a>
        </div>
        <div class="list-group col-lg-5">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-center" style="text-align: center;">
              <small>
                VMware, Inc. - VMware Virtual Platform<br>
                Processor(s): 2<br>
                GenuineIntel - Intel&#174; Xeon&#174; CPU E5-2680 v2 &#64; 2.80GHz<br>
                GenuineIntel - Intel&#174; Xeon&#174; CPU E5-2680 v2 &#64; 2.80GHz<br>
                Total RAM Memory: 33,554,432K<br>
                Microsoft Windows Server 2012 R2 Standard - 6.3.9600 &#123; spk:0 &#125;<br>
                C: - Local Fixed Disk - NTFS &#123; Size: 59.6GB - Free Space: 12.9GB / 21.7% &#125;<br>
                IP(s): &#123; ::1, 10.1.10.54 &#125;<br>
                Runtime: v4.0.30319<br>
                Temp Directory: c:\windows\temp\<br>
                IsProd Environment: False<br>
                DB Instance Name: itdev
              </small>
            </div>
          </a>
        </div>
        <div class="list-group col-lg-3">
          <a href="#" class="list-group-item list-group-item-action small">Up Time:</a>
          <a href="#" class="list-group-item list-group-item-action small">CPU Time:</a>
          <a href="#" class="list-group-item list-group-item-action small">Current Memory:</a>
          <a href="#" class="list-group-item list-group-item-action small">Peak Memory:</a>
          <a href="#" class="list-group-item list-group-item-action small">Handles / Threads:</a>
          <a href="#" class="list-group-item list-group-item-action small">Data Base: applog@itdev</a>
          <a href="#" class="list-group-item list-group-item-action small">Messages / Last Received:</a>
        </div>
      </div>
    </ng-container>
  </div>

<ng-container *ngIf="showMain">
  <div class="d-flex flex-wrap justify-content-center">
    <div class="d-flex flex-wrap">
      <div class="card border-primary mb-3" style="min-width: 47rem;">
        <div class="card-header">Set Search Criteria</div>
        <div class="card-body">
          <form>
            <fieldset>
              <div class="d-flex flex-wrap justify-content-center">
                <div class="row">
                  <div class="container" style="max-width: 18rem; min-width: 18rem;">
                    <label class="col-form-label col-form-label-sm">Process:&nbsp;</label>
                    <div class="form-group">
                      <div class="input-group mb-3">
                        <select class="form-control form-control-sm" id="ProcSelect">
                          <option>Contains</option>
                          <option>Begins With</option>
                          <option>Ends With</option>
                        </select>
                        <input type="text" class="form-control form-control-sm" aria-label="ProcessInput" id="ProcInput">
                      </div>
                    </div>
                  </div>
                  <div class="container" style="max-width: 18rem; min-width: 18rem;">
                    <label class="col-form-label col-form-label-sm">Trace:&nbsp;</label>
                    <div class="form-group">
                      <div class="input-group mb-3">
                        <select class="form-control form-control-sm" id="TraceSelect">
                          <option>Contains</option>
                          <option>Begins With</option>
                          <option>Ends With</option>
                        </select>
                        <input type="text" class="form-control form-control-sm" aria-label="TraceInput" id="TraceInput">
                      </div>
                    </div>
                  </div>
                  <div class="container" style="max-width: 18rem; min-width: 18rem;">
                    <label class="col-form-label col-form-label-sm">Environment:&nbsp;</label>
                    <div class="form-group">
                      <div class="input-group mb-3">
                        <select class="form-control input-group-prepend form-control-sm" id="EnvSelect">
                          <option>Contains</option>
                          <option>Begins With</option>
                          <option>Ends With</option>
                        </select>
                        <input type="text" class="form-control form-control-sm" aria-label="EnvironmentInput" id="EnvInput">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="container" style="max-width: 20rem; min-width: 20rem;">
                    <label class="col-form-label col-form-label-sm">System:</label>
                    <select class="form-control form-control-sm" id="S-Select">
      	            <option selected="selected" value="">All</option>
	                  <option value="CLAIMSMGMT">Claims Management</option>
    	              <option value="CONTACTMGMT">Contact Managment</option>
                    <option value="MMR">Mandatory Medicare Reporting</option>
	                  <option value="PATIENTSAFETY">Patient Safety</option>
                  	<option value="RATELOAD">Rate Load Database</option>
  	                <option value="RATESTAGE">Rate Staging Database</option>
                    <option value="TDC.AGENCYMANAGEMENT.WEBAPI">Tdc Agency Management Web API</option>
                    <option value="AGENT">Agent Broker</option>
                    <option value="FRAMEWEBAP">Framework Web API Service</option>
	                  <option value="APPLOG">Application Log</option>
	                  <option value="APPLOG_DB">Application Log Database</option>
	                  <option value="EDOC_CLEAN">EDoc - Clean Files</option>
      	            <option value="AP_INF">Accounts Payable -  Informatica</option>
	                  <option value="DBA">DBA</option>
	                  <option value="DW">Data Warehouse</option>
                    <option value="DWS">DWS</option>
	                  <option value="EDOCDATA">EDoc Data Provider Server</option>
      	            <option value="EDOCSERVER">EDoc Server</option>
        	          <option value="EMAILSERV">Email Server</option>
	                  <option value="EOD">End of Day Jobs</option>
	                  <option value="FSMP_SRV">Folder Splitter</option>
                    <option value="IMANAGESRV">iManage Server</option>
    	              <option value="LBM">LBM Printer Server</option>
	                  <option value="MEMBERS">Members Only</option>
                    <option value="MEMBERSCSU">Members Only Internal (CSU)</option>
                    <option value="MP">Macro Processor Server</option>
	                  <option value="NOVA">Nova</option>
	                  <option value="NOVA_INF">Nova Informatica</option>
    	              <option value="ONLINE APP">Online  Application</option>
	                  <option value="PBOWES">Pitney Bowes</option>
  	                <option value="PRINTSERV">Print Server</option>
  	                <option value="PRODCOMP">Producer Compensation</option>
                    <option value="RET_BILL">Retention Billing</option>
	                  <option value="REPORTAPI">Report API</option>
                    <option value="OPCO">OPCO Conversion</option>
	                  <option value="SECURITY">Security</option>
	                  <option value="Tdc.SecurityServer.WebAPI">Security Server</option>
  	                <option value="STAR">Star</option>
	                  <option value="VISTA">Vista</option>
                    <option value="UNICENTER">Unicenter</option>
  	                <option value="RPTSERVER">Report Server</option>
	                  <option value="DW_SQLLOAD">DW - Nova Load</option>
  	                <option value="TDCUTILS">SQL - SERVER</option>
                    <option value="UNKNOWN">Unknown</option>
                    <option value="AGENCYMGMT">Agency Management</option>
                    </select>
                  </div>
                  <div class="container" style="max-width: 20rem; min-width: 20rem;">
                    <label class="col-form-label col-form-label-sm">Include:</label>
                    <select class="form-control form-control-sm" id="I-Select">
	                    <option selected="selected" value="">All</option>
	                    <option value="Y">Errors</option>
	                    <option value="N">Informational</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                <div class="container" style="max-width: 20rem; min-width: 20rem;">
                  <label class="col-form-label col-form-label-sm" for="inputSmall">From:</label>
                  <input class="form-control form-control-sm" type="text" placeholder="Choose a Date" id="fromDate">
                </div>
                <div class="container" style="max-width: 20rem; min-width: 20rem;">
                  <label class="col-form-label col-form-label-sm" for="inputSmall">To:</label>
                  <input class="form-control form-control-sm" type="text" placeholder="Choose a Date" id="toDate">
                </div>
                </div>
                <div class="row">
                  <div class="container" style="max-width: 10rem; min-width: 10rem;">
                    <label class="col-form-label col-form-label-sm" for="inputSmall">Refresh Page:</label>
                    <input class="form-control form-control-sm" type="text" placeholder="30" id="RefTime" style="text-align:right;">
                  </div>
                  <div class="container" style="max-width: 105rem; min-width: 10rem;">
                    <label class="col-form-label col-form-label-sm" for="inputSmall">Lines/Page:</label>
                    <input class="form-control form-control-sm" type="text" placeholder="30" id="LPg" style="text-align:right;">
                  </div>
                </div>
              </div>
              <br>
              <div class="d-flex flex-wrap justify-content-center">
                <button type="button" class="btn btn-secondary btn-sm" (click)="critSet">Reload</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <div class="d-flex flex-wrap justify-content-center">
      <span id="Row-Info">|&nbsp;Total&nbsp;Rows:&nbsp;<b>x</b>&nbsp;|&nbsp;Page:&nbsp;<b>y</b>&nbsp;of&nbsp;<b>z</b>&nbsp;|</span>&nbsp;&nbsp;&nbsp;
      <ul class="pagination pagination-sm">
        <li class="page-item">
          <a class="page-link" href="#">&lt;&lt;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&lt;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&gt;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&gt;&gt;</a>
        </li>
      </ul>
    </div>

    <table class="table table-hover" style="min-width: 47rem;">
      <thead>
        <tr class="table-primary">
          <th scope="col">System</th>
          <th scope="col">Message</th>
          <th scope="col">Process</th>
          <th scope="col">Trace</th>
          <th scope="col">Environment</th>
          <th scope="col">Created Date</th>
          <th scope="col">ID</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-light" ng-repeat = "(System, Message, Process, Trace, Environment, CreatedDate, ID) in data">
          <td>{{System}}</td>
          <td>{{Message}}</td>
          <td>{{Process}}</td>
          <td>{{Trace}}</td>
          <td>{{Environment}}</td>
          <td>{{CreatedDate}}</td>
          <td>{{ID}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>

  <div class="container" style="text-align: left">
    <h3>Progress Report</h3>
    <div class="d-flex flex-wrap justify-content-center">
      <div class="card border-success mb-3" style="max-width: 20rem; min-width: 20rem; margin:.5rem;">
        <div class="card-header">Added:</div>
        <div class="card-body">
          <ul>
            <li>Bootstrap</li>
            <li>CSS Theme</li>
            <li>Server Info Dropdown</li>
            <li>Table</li>
            <li>Main Page</li>
            <li>Actions Page</li>
            <li>Working Navs</li>
          </ul>
        </div>
      </div>

      <div class="card border-warning mb-3" style="max-width: 20rem; min-width: 20rem; margin:.5rem;">
        <div class="card-header">In Progress:</div>
        <div class="card-body">
          <ul>
            <li>Table Page Switcher<br>
            <span class="small text-success">Buttons in place</span><br>
            <span class="small text-warning">No alt. pages to switch to</span><br>
            <span class="small text-danger">No programming done yet</span>
            </li>
            <li>Search Criteria Form<br>
            <span class="small text-warning">Date selectors need implementing</span>
            </li>
            <li>Angular<br>
            <span class="small text-success">Implemented for navbar and server info dropdown</span><br>
            <span class="small text-danger">Can't get into Pluralsight to watch lessons</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="card border-danger mb-3" style="max-width: 20rem; min-width: 20rem; margin:.5rem;">
        <div class="card-header">To Do:</div>
        <div class="card-body">
          <ul>
            <li>Table Data<br>
            <span class="small text-warning">Found some help to implement data updates, implementation WIP</span><br>
            <span class="small text-danger">Don't know how to <i>get</i> the data</span>
            </li>
            <li>Severities to Actions Page</li>
            <li>Log Numbers to Severities Page</li>
            <li>Severities Page</li>
            <li>Source Systems Page</li>
            <li>Log Numbers By Systems Page</li>
            <li>Diagram Logs Page</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="showStA">
  <p>Page is incomplete, check back later.</p>
</ng-container>

<ng-container *ngIf="showLNtA">
  <p>Page is incomplete, check back later.</p>
</ng-container>

<ng-container *ngIf="showAct">
  <div class="d-flex flex-wrap justify-content-center">
      <table class="table table-hover">
        <thead>
          <tr class="table-primary small" style="text-align: center;">
            <th scope="col">Code</th>
            <th scope="col">Description</th>
            <th scope="col">Email</th>
            <th scope="col">Pager</th>
            <th scope="col">Color</th>
            <th scope="col">Effective/To Dates</th>
            <th scope="col">Created</th>
            <th scope="col">Last Updated</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light small">
            <td>PB_ERROR</td>
            <td>Pitney Bowes Error</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="text-danger"><b>&radic;</b></td>
            <td>01/01/1976 12/31/9999</td>
            <td>applog - 07/08/2010</td>
            <td>applog - 01/25/2011</td>
          </tr>
          <tr class="table-light small">
            <td>DBA_ERROR</td>
            <td>DBA Error</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="text-danger"><b>&radic;</b></td>
            <td>01/01/1976 12/31/9999</td>
            <td>applog - 12/04/2007</td>
            <td>applog - 03/26/2014</td>
          </tr>
          <tr class="table-light small">
            <td>DBA_MSG</td>
            <td>DBA Message</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>01/01/1976 12/31/9999</td>
            <td>applog - 12/04/2007</td>
            <td>applog - 12/04/2007</td>
          </tr>
          <tr class="table-light small">
            <td>DB_ERROR</td>
            <td>Database Error</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="text-danger"><b>&radic;</b></td>
            <td>01/01/1976 12/31/9999</td>
            <td>applog - 12/14/2005</td>
            <td>applog - 01/15/2008</td>
          </tr>
          <tr class="table-light small">
            <td>ED_NOTIFIC</td>
            <td>Edoc Server Informational Message</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>01/01/1976 12/31/9999</td>
            <td>applog - 01/13/2014</td>
            <td>applog - 01/13/2014</td>
          </tr>
          <tr class="table-light small">
            <td>FSMP_TEAM</td>
            <td>Form Splitter Team</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="text-warning"><b>&radic;</b></td>
            <td>01/01/1976 12/31/9999</td>
            <td>applog - 12/30/2005</td>
            <td>applog - 03/26/2014</td>
          </tr>
          <tr class="table-light small">
            <td>INFO</td>
            <td>Informational</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>01/01/1976 12/31/9999</td>
            <td>applog - 12/15/2006</td>
            <td>applog - 03/03/2008</td>
          </tr>
          <tr class="table-light small">
            <td>NOVA_ERROR</td>
            <td>Nova Errors</td>
            <td><b>&radic;</b></td>
            <td>&nbsp;</td>
            <td class="text-warning"><b>&radic;</b></td>
            <td>01/01/1976 12/31/9999</td>
            <td>applog - 12/14/2005</td>
            <td>applog - 01/31/2019</td>
          </tr>
          <tr class="table-light small">
            <td>NOVA_NOTI</td>
            <td>Nova Notification</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>01/01/1976 12/31/9999</td>
            <td>applog - 02/13/2008</td>
            <td>applog - 03/26/2014</td>
          </tr>
          <tr class="table-light small">
            <td>NOVA_TEAM</td>
            <td>Nova - Team</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>01/01/1976 12/31/9999</td>
            <td>applog - 12/15/2005</td>
            <td>applog - 03/26/2014</td>
          </tr>
          <tr class="table-light small">
            <td>PC_ERROR</td>
            <td>ProdComp Group Error</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="text-danger"><b>&radic;</b></td>
            <td>01/01/1976 12/31/9999</td>
            <td>applog - 03/08/2006</td>
            <td>applog - 03/26/2014</td>
          </tr>
          <tr class="table-light small">
            <td>RB_TEAM</td>
            <td>Retention Billing Team</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="text-warning"><b>&radic;</b></td>
            <td>01/01/1976 12/31/9999</td>
            <td>applog - 06/16/2006</td>
            <td>applog - 03/26/2014</td>
          </tr>
          <tr class="table-light small">
            <td>UNICTR_BAD</td>
            <td>Unicenter Bad Message</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="text-danger"><b>&radic;</b></td>
            <td>01/01/1976 12/31/9999</td>
            <td>Initial Load - 12/14/2005</td>
            <td>Initial Load - 01/15/2008</td>
          </tr>
          <tr class="table-light small">
            <td>DW_EMAIL</td>
            <td>DW E-mail Nofication</td>
            <td><b>&radic;</b></td>
            <td>&nbsp;</td>
            <td class="text-secondary"><b>&radic;</b></td>
            <td>01/01/1976 12/31/9999</td>
            <td>applog - 11/21/2017</td>
            <td>applog - 11/21/2017</td>
          </tr>
          <tr class="table-light small">
            <td>UNICTR_OK</td>
            <td>Unicenter</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>01/01/1976 12/31/9999</td>
            <td>Initial Load - 12/14/2005</td>
            <td>Initial Load - 12/14/2005</td>
          </tr>
          <tr class="table-light small">
            <td>ARCH</td>
            <td>Architecture Alert</td>
            <td><b>&radic;</b></td>
            <td>&nbsp;</td>
            <td class="text-danger"><b>&radic;</b></td>
            <td>01/01/1976 12/31/9999</td>
            <td>applog - 04/26/2018</td>
            <td>applog - 04/26/2018</td>
          </tr>
          <tr class="table-light small">
            <td>UNIC_TEAM</td>
            <td>Unicenter Team</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="text-danger"><b>&radic;</b></td>
            <td>01/01/1976 12/31/9999</td>
            <td>applog - 04/01/2007</td>
            <td>applog - 03/26/2014</td>
          </tr>
          <tr class="table-light small">
            <td>66000</td>
            <td>Hal Email Sleep Stop/Start</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="text-success"><b>&radic;</b></td>
            <td>01/01/1976 12/31/9999</td>
            <td>applog - 01/14/2011</td>
            <td>applog - 01/25/2011</td>
          </tr>
          <tr class="table-light small">
            <td>HAL_SLEEP</td>
            <td>Hal Email Sleep Stop/Start</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="text-info"><b>&radic;</b></td>
            <td>01/01/1976 12/31/9999</td>
            <td>applog - 01/18/2011</td>
            <td>applog - 11/16/2018</td>
          </tr>
          <tr class="table-light small">
            <td>UNDEFINED</td>
            <td>Undefined</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="text-warning"><b>&radic;</b></td>
            <td>01/01/1976 12/31/9999</td>
            <td>Initial Load - 12/14/2005</td>
            <td>Initial Load - 11/16/2018</td>
          </tr>
          <tr class="table-light small">
            <td>Add New</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table> 
  </div>
</ng-container>

<ng-container *ngIf="showSev">
  <p>Page is incomplete, check back later.</p>
</ng-container>

<ng-container *ngIf="showSS">
  <p>Page is incomplete, check back later.</p>
</ng-container>

<ng-container *ngIf="showLN">
  <p>Page is incomplete, check back later.</p>
</ng-container>

<ng-container *ngIf="showDL">
  <p>Page is incomplete, check back later.</p>
</ng-container>

  <div class="container" style="text-align: right;">
    <br>
    <button type="button" class="btn btn-link">
      <a href="#nav">Return to Top</a>
    </button>
  </div>
  
</div>
