<div class="alert alert-light">
  <button type="button" class="close" (click)="close()">&times;</button>
  <div class="d-flex w-100 justify-content-center" style="text-align: center;">
    <small>
      VMware, Inc. - VMware Virtual Platform<br>
      Processor(s): 2<br>
      GenuineIntel - Intel&#174; Xeon&#174; CPU E5-2680 v2 &#64; 2.80GHz<br>
      GenuineIntel - Intel&#174; Xeon&#174; CPU E5-2680 v2 &#64; 2.80GHz<br>
      Total RAM Memory: 33,554,432K<br>
      Microsoft Windows Server 2012 R2 Standard - 6.3.9600 &#123; spk:0 &#125;<br>
      C: - Local Fixed Disk - NTFS &#123; Size: 59.6GB - Free Space: 12.9GB / 21.7% &#125;<br>
      IP(s): &#123; ::1, 10.1.10.54 &#125;<br>
      Runtime: v4.0.30319<br>
      Temp Directory: c:\windows\temp\<br>
      IsProd Environment: False<br>
      DB Instance Name: itdev
    </small>
    <table>
      <thead>
        <tr class="table-primary small">
          <th scope="col">Key</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-light small">
          <td>internal.applog.error.email.to</td>
          <td>it-novadeverrors@thedoctors.com</td>
        </tr>
        <tr class="table-light small">
          <td>ValidationSettings:UnobtrusiveValidationMode</td>
          <td>None</td>
        </tr>
        <tr class="table-light small">
          <td>starteam.listener.active</td>
          <td>False</td>
        </tr>
        <tr class="table-light small">
          <td>config.database.connection</td>
          <td>applog@itdev</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>