
thead {
  text-align: center;
}
tbody {
  max-height: 600px;
  text-align: left;
  display: block;
  overflow: scroll;
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
