<div class="d-flex flex-wrap justify-content-center">
  <div class="d-flex flex-wrap">
    <div class="card border-primary mb-3">
      <div class="card-header">
        Set Search Criteria
      </div>
      <div class="card-body">
        <form>
          <fieldset>
            <div class="d-flex flex-wrap justify-content-center">
              <div class="row">
                <div class="container col-lg-3">
                  <label class="col-form-label col-form-label-sm" for="ProcSelect; ProcInput;">Process:&nbsp;</label>
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <select class="form-control form-control-sm" id="ProcSelect" #PS>
                        <option selected="selected">Contains</option>
                        <option>Begins With</option>
                        <option>Ends With</option>
                      </select>
                      <input type="text" class="form-control form-control-sm" id="ProcInput" #PI>
                    </div>
                  </div>
                </div>
                <div class="container col-lg-3">
                  <label class="col-form-label col-form-label-sm" for="TraceSelect; TraceInput;">Trace:&nbsp;</label>
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <select class="form-control form-control-sm" id="TraceSelect" #TS>
                        <option selected="selected">Contains</option>
                        <option>Begins With</option>
                        <option>Ends With</option>
                      </select>
                      <input type="text" class="form-control form-control-sm" id="TraceInput" #TI>
                    </div>
                  </div>
                </div>
                <div class="container col-lg-3">
                  <label class="col-form-label col-form-label-sm" for="EnvSelect; EnvInput;">Environment:&nbsp;</label>
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <select class="form-control input-group-prepend form-control-sm" id="EnvSelect" #ES>
                        <option selected="selected">Contains</option>
                        <option>Begins With</option>
                        <option>Ends With</option>
                      </select>
                      <input type="text" class="form-control form-control-sm" id="EnvInput" #EI>
                    </div>
                  </div>
                </div>
                <div class="container col-lg-4">
                  <label class="col-form-label col-form-label-sm" for="S-Select">System:</label>
                  <select class="form-control form-control-sm" id="S-Select" #Sys>
      	            <option selected="selected" value="">All</option>
	                  <option>Claims Management</option>
    	              <option>Contact Managment</option>
                    <option>Mandatory Medicare Reporting</option>
	                  <option>Patient Safety</option>
                  	<option>Rate Load Database</option>
  	                <option>Rate Staging Database</option>
                    <option>Tdc Agency Management Web API</option>
                    <option>Agent Broker</option>
                    <option>Framework Web API Service</option>
	                  <option>Application Log</option>
	                  <option>Application Log Database</option>
	                  <option>EDoc - Clean Files</option>
      	            <option>Accounts Payable -  Informatica</option>
	                  <option>DBA</option>
	                  <option>Data Warehouse</option>
                    <option>DWS</option>
	                  <option>EDoc Data Provider Server</option>
      	            <option>EDoc Server</option>
        	          <option>Email Server</option>
	                  <option>End of Day Jobs</option>
	                  <option>Folder Splitter</option>
                    <option>iManage Server</option>
    	              <option>LBM Printer Server</option>
	                  <option>Members Only</option>
                    <option>Members Only Internal (CSU)</option>
                    <option>Macro Processor Server</option>
	                  <option>Nova</option>
	                  <option>Nova Informatica</option>
    	              <option>Online  Application</option>
	                  <option>Pitney Bowes</option>
  	                <option>Print Server</option>
  	                <option>Producer Compensation</option>
                    <option>Retention Billing</option>
	                  <option>Report API</option>
                    <option>OPCO Conversion</option>
	                  <option>Security</option>
	                  <option>Security Server</option>
  	                <option>Star</option>
	                  <option>Vista</option>
                    <option>Unicenter</option>
  	                <option>Report Server</option>
	                  <option>DW - Nova Load</option>
  	                <option>SQL - SERVER</option>
                    <option>Unknown</option>
                    <option>Agency Management</option>
                  </select>
                </div>
                <div class="container col-lg-3">
                  <label class="col-form-label col-form-label-sm" for="I-Select">Include:</label>
                  <select class="form-control form-control-sm" id="I-Select" #Inc>
	                  <option selected="selected" value="">All</option>
	                  <option value="Y">Errors</option>
	                  <option value="N">Informational</option>
                  </select>
                </div>
              </div>
              <div class="row" style="margin-top: 10px;">
                <div class="container col-lg-4">
                  <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="input-small">From:</label>
                    <div class="input-group">
                      <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="d1" [(ngModel)]="model1" ngbDatepicker [minDate]="{year: 2006, month: 1, day: 1}" [footerTemplate]="footerTemplate1" #d1="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary dropdown-toggle btn-sm" (click)="d1.toggle()" type="button">Select&nbsp;</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container col-lg-4">
                  <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="input-small">To:</label>
                    <div class="input-group">
                      <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="d2" [(ngModel)]="model2" ngbDatepicker [minDate]="{year: 2006, month: 1, day: 1}" [footerTemplate]="footerTemplate2" #d2="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary dropdown-toggle btn-sm" (click)="d2.toggle()" type="button">Select&nbsp;</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container col-lg-2">
                  <label class="col-form-label col-form-label-sm" for="LPg">Lines/Page:</label>
                  <input class="form-control form-control-sm" type="text" ng-model="pageSize" value="{{pageSize}}" id="LPg" style="text-align:right;" #LPg>
                </div>
              </div>
            </div>
            <br>
          </fieldset>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex flex-wrap justify-content-center">
              <button type="button" class="btn btn-primary" (click)="pageSet(LPg.value, PS.value, TS.value, ES.value, Sys.value, Inc.value, PI.value, TI.value, EI.value)">Refresh Table</button>
            </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-wrap justify-content-center">
    &nbsp;&nbsp;&nbsp;<span id="Row-Info">|&nbsp;Total&nbsp;Rows:&nbsp;<b>{{collectionSize}}</b>&nbsp;|&nbsp;Page:&nbsp;<b>{{page}}</b>&nbsp;of&nbsp;<b>{{pageMax}}</b>&nbsp;|</span>&nbsp;&nbsp;&nbsp;
    <ngb-pagination class="pagination pagination-sm d-flex justify-content-center" [pageSize]="pageSize" [collectionSize]="toShow.length" [(page)]="page" [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
  </div>

  <ng-container class="d-flex flex-wrap justify-content-center" *ngIf="collectionSize > 0">
    <table class="table table-hover">
      <thead>
        <tr class="table-primary">
          <th scope="col">System</th>
          <th scope="col">Message</th>
          <th scope="col">Process</th>
          <th scope="col">Trace</th>
          <th scope="col">Environment</th>
          <th scope="col">Created&nbsp;Date</th>
          <th scope="col">ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of toShow | slice: (page - 1) * pageSize : (page) * pageSize" class="table-light">
          <td>{{i.sys}}</td>
          <td>{{i.msg | slice:0:30}}</td>
          <td>{{i.prc | slice:0:30}}</td>
          <td>{{i.trc | slice:0:30}}</td>
          <td>{{i.env | slice:0:30}}</td>
          <td>{{i.CD.year}}-{{i.CD.month}}-{{i.CD.day}}</td>
          <td><button class="btn btn-link" (click)="msgTog(i.ID)">{{i.ID}}</button></td>
        </tr>
      </tbody>
    </table>
  </ng-container>
    
  <ng-container *ngIf="idPicked != -7">
    <div class="card border-info mb-3" cdkDrag style="z-index: 7; position: fixed; top: 5rem; max-width: 60rem; width: 50%; min-width: 20rem;">
      <div class="card-header">
        HAL Message Viewer
        <button type="button" class="close float-right" (click)="msgClose(idPicked)">&times;</button>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="table-info">
              <th colspan="2" style="text-align: center;">Data for item ID: {{found.ID}}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-light small">
              <th scope="row">System:</th>
              <td>{{found.sys}}</td>
            </tr>
            <tr class="table-light small">
              <th scope="row">Number/Message:</th>
              <td>{{found.msg}}</td>
            </tr>
            <tr class="table-light small">
              <th scope="row">Process:</th>
              <td>{{found.prc}}</td>
            </tr>
            <tr class="table-light small">
              <th scope="row">Trace:</th>
              <td>{{found.trc}}</td>
            </tr>
            <tr class="table-light small">
              <th scope="row">Environment&nbsp;Info:</th>
              <td>{{found.env}}</td>
            </tr>
            <tr class="table-light small">
              <th scope="row">Created:</th>
              <td>{{found.CD.year}}/{{found.CD.month}}/{{found.CD.day}}</td>
            </tr>
            <tr class="table-light small">
              <th scope="row">Processed:</th>
              <td>{{found.PD.year}}/{{found.PD.month}}/{{found.PD.day}}</td>
            </tr>
          </tbody>  
        </table>
        <ng-container *ngIf="found.eT.code">
          <table class="table table-hover" style="text-align: center;">
            <thead>
              <tr class="table-dark">
                <th scope="col">Action</th>
                <th scope="col">Email</th>
                <th scope="col">Pager No.</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-light small">
                <td>
                  {{found.eT.code}}<br>
                  {{found.eT.desc}}
                </td>
                <td>{{found.eT.email}}</td>
                <td>{{found.eT.pager}}</td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="idPicked2 != -7">
    <div class="card border-info mb-3" cdkDrag style="z-index: 7; position: fixed; top: 5rem; max-width: 60rem; width: 50%; min-width: 20rem;">
      <div class="card-header">
        HAL Message Viewer
        <button type="button" class="close float-right" (click)="msgClose(idPicked2)">&times;</button>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="table-info">
              <th colspan="2" style="text-align: center;">Data for item ID: {{found2.ID}}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-light small">
              <th scope="row">System:</th>
              <td>{{found2.sys}}</td>
            </tr>
            <tr class="table-light small">
              <th scope="row">Number/Message:</th>
              <td>{{found2.msg}}</td>
            </tr>
            <tr class="table-light small">
              <th scope="row">Process:</th>
              <td>{{found2.prc}}</td>
            </tr>
            <tr class="table-light small">
              <th scope="row">Trace:</th>
              <td>{{found2.trc}}</td>
            </tr>
            <tr class="table-light small">
              <th scope="row">Environment&nbsp;Info:</th>
              <td>{{found2.env}}</td>
            </tr>
            <tr class="table-light small">
              <th scope="row">Created:</th>
              <td>{{found2.CD.year}}/{{found2.CD.month}}/{{found2.CD.day}}</td>
            </tr>
            <tr class="table-light small">
              <th scope="row">Processed:</th>
              <td>{{found2.PD.year}}/{{found2.PD.month}}/{{found2.PD.day}}</td>
            </tr>
          </tbody>  
        </table>
        <ng-container *ngIf="found2.eT.code">
          <table class="table table-hover" style="text-align: center;">
            <thead>
              <tr class="table-dark">
                <th scope="col">Action</th>
                <th scope="col">Email</th>
                <th scope="col">Pager No.</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-light small">
                <td>
                  {{found2.eT.code}}<br>
                  {{found2.eT.desc}}
                </td>
                <td>{{found2.eT.email}}</td>
                <td>{{found2.eT.pager}}</td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="collectionSize == 0">
    <div class="container" style="width: 100%">
      <p style="text-align: center;">
        <br>
        <span class="lead text-info">There are no items that match the given criteria.</span><br>
        <span class="text-muted">Please make changes to your selections, then try again.</span>
      </p>
    </div>
  </ng-container>
</div>



<ng-template #footerTemplate1>
  <div class="dropdown-divider"></div>
  <button class="btn btn-info btn-sm float-left" style="margin-left: 6px; margin-bottom: 8px;" (click)="model1 = today; d1.close()">Today</button>
  <button class="btn btn-dark btn-sm float-right" style="margin-right: 6px; margin-bottom: 8px;" (click)="model1 = none; d1.close()">Clear</button>
</ng-template>

<ng-template #footerTemplate2>
  <div class="dropdown-divider"></div>
  <button class="btn btn-info btn-sm float-left" style="margin-left: 6px; margin-bottom: 8px;" (click)="model2 = today; d2.close()">Today</button>
  <button class="btn btn-dark btn-sm float-right" style="margin-right: 6px; margin-bottom: 8px;" (click)="model2 = none; d2.close()">Clear</button>
</ng-template>
