<div class="d-flex flex-wrap justify-content-center">
  <div class="d-flex flex-wrap">
    <div class="card border-primary mb-3">
      <div class="card-header">Set Search Criteria</div>
      <div class="card-body">
        <form>
          <fieldset>
            <div class="d-flex flex-wrap justify-content-center">
              <div class="row">
                <div class="container col-lg-3">
                  <label class="col-form-label col-form-label-sm" for="ProcSelect; ProcInput;">Process:&nbsp;</label>
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <select class="form-control form-control-sm" id="ProcSelect" #PS>
                        <option selected="selected">Contains</option>
                        <option>Begins With</option>
                        <option>Ends With</option>
                      </select>
                      <input type="text" class="form-control form-control-sm" id="ProcInput" #PI>
                    </div>
                  </div>
                </div>
                <div class="container col-lg-3">
                  <label class="col-form-label col-form-label-sm" for="TraceSelect; TraceInput;">Trace:&nbsp;</label>
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <select class="form-control form-control-sm" id="TraceSelect" #TS>
                        <option selected="selected">Contains</option>
                        <option>Begins With</option>
                        <option>Ends With</option>
                      </select>
                      <input type="text" class="form-control form-control-sm" id="TraceInput" #TI>
                    </div>
                  </div>
                </div>
                <div class="container col-lg-3">
                  <label class="col-form-label col-form-label-sm" for="EnvSelect; EnvInput;">Environment:&nbsp;</label>
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <select class="form-control input-group-prepend form-control-sm" id="EnvSelect" #ES>
                        <option selected="selected">Contains</option>
                        <option>Begins With</option>
                        <option>Ends With</option>
                      </select>
                      <input type="text" class="form-control form-control-sm" id="EnvInput" #EI>
                    </div>
                  </div>
                </div>
                <div class="container col-lg-4">
                  <label class="col-form-label col-form-label-sm" for="S-Select">System:</label>
                  <select class="form-control form-control-sm" id="S-Select" #Sys>
      	            <option selected="selected" value="">All</option>
	                  <option>Claims Management</option>
    	              <option>Contact Managment</option>
                    <option>Mandatory Medicare Reporting</option>
	                  <option>Patient Safety</option>
                  	<option>Rate Load Database</option>
  	                <option>Rate Staging Database</option>
                    <option>Tdc Agency Management Web API</option>
                    <option>Agent Broker</option>
                    <option>Framework Web API Service</option>
	                  <option>Application Log</option>
	                  <option>Application Log Database</option>
	                  <option>EDoc - Clean Files</option>
      	            <option>Accounts Payable -  Informatica</option>
	                  <option>DBA</option>
	                  <option>Data Warehouse</option>
                    <option>DWS</option>
	                  <option>EDoc Data Provider Server</option>
      	            <option>EDoc Server</option>
        	          <option>Email Server</option>
	                  <option>End of Day Jobs</option>
	                  <option>Folder Splitter</option>
                    <option>iManage Server</option>
    	              <option>LBM Printer Server</option>
	                  <option>Members Only</option>
                    <option>Members Only Internal (CSU)</option>
                    <option>Macro Processor Server</option>
	                  <option>Nova</option>
	                  <option>Nova Informatica</option>
    	              <option>Online  Application</option>
	                  <option>Pitney Bowes</option>
  	                <option>Print Server</option>
  	                <option>Producer Compensation</option>
                    <option>Retention Billing</option>
	                  <option>Report API</option>
                    <option>OPCO Conversion</option>
	                  <option>Security</option>
	                  <option>Security Server</option>
  	                <option>Star</option>
	                  <option>Vista</option>
                    <option>Unicenter</option>
  	                <option>Report Server</option>
	                  <option>DW - Nova Load</option>
  	                <option>SQL - SERVER</option>
                    <option>Unknown</option>
                    <option>Agency Management</option>
                  </select>
                </div>
                <div class="container col-lg-3">
                  <label class="col-form-label col-form-label-sm" for="I-Select">Include:</label>
                  <select class="form-control form-control-sm" id="I-Select" #Inc>
	                  <option selected="selected" value="">All</option>
	                  <option value="Y">Errors</option>
	                  <option value="N">Informational</option>
                  </select>
                </div>
              </div>
              <div class="row" style="margin-top: 10px;">
                <div class="container col-lg-4">
                  <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="input-small">From:</label>
                    <ngbd-datepicker-popup></ngbd-datepicker-popup>
                  </div>
                </div>
                <div class="container col-lg-4">
                  <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="input-small">To:</label>
                    <ngbd-datepicker-popup></ngbd-datepicker-popup>
                  </div>
                </div>
                <div class="container col-lg-2">
                  <label class="col-form-label col-form-label-sm" for="LPg">Lines/Page:</label>
                  <input class="form-control form-control-sm" type="text" ng-model="pageSize" value="{{pageSize}}" id="LPg" style="text-align:right;" #LPg>
                </div>
              </div>
            </div>
            <br>
            <div class="d-flex flex-wrap justify-content-center">
              <button type="button" class="btn btn-primary" (click)="pageSet(LPg.value, PS.value, TS.value, ES.value, Sys.value, Inc.value, PI.value, TI.value, EI.value)">Refresh Table</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

  <div class="d-flex flex-wrap justify-content-center">
    &nbsp;&nbsp;&nbsp;<span id="Row-Info">|&nbsp;Total&nbsp;Rows:&nbsp;<b>{{collectionSize}}</b>&nbsp;|&nbsp;Page:&nbsp;<b>{{page}}</b>&nbsp;of&nbsp;<b>{{pageMax}}</b>&nbsp;|</span>&nbsp;&nbsp;&nbsp;
    <ngb-pagination class="pagination pagination-sm d-flex justify-content-center" [pageSize]="pageSize" [collectionSize]="toShow.length" [(page)]="page" [maxSize]="3" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
  </div>

  <ng-container class="d-flex flex-wrap justify-content-center" *ngIf="collectionSize > 0">
    <table class="table table-hover">
      <thead>
        <tr class="table-primary">
          <th scope="col">System</th>
          <th scope="col">Message</th>
          <th scope="col">Process</th>
          <th scope="col">Trace</th>
          <th scope="col">Environment</th>
          <th scope="col">Created&nbsp;Date</th>
          <th scope="col">ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of toShow | slice: (page - 1) * pageSize : (page) * pageSize" class="table-light">
          <td>{{i.sys}}</td>
          <td>{{i.msg | slice:0:30}}</td>
          <td>{{i.prc | slice:0:30}}</td>
          <td>{{i.trc | slice:0:30}}</td>
          <td>{{i.env | slice:0:30}}</td>
          <td>{{i.CD.year}}-{{i.CD.month}}-{{i.CD.day}}</td>
          <td><button class="btn btn-link" (click)="openMsg(i.ID)">{{i.ID}}</button></td>
        </tr>
      </tbody>
    </table>
    <ng-container *ngIf="idPicked!=-7" style="max-width: 60rem; min-width: 20rem;">
      <div class="card border-info mb-3" cdkDrag style="z-index: 7;">
        <div class="card-header">
          HAL Message Viewer
          <button type="button" class="close float-right" (click)="msgClose()">&times;</button>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr class="table-info">
                <th colspan="2" style="text-align: center;">Data for item ID: {{idPicked}}</th>
              </tr>
            </thead>
          <!--fill with info from table-->
            <tbody>
              <tr class="table-light small">
                <th scope="row">System:</th>
                <td>{{sys}}</td>
              </tr>
              <tr class="table-light small">
                <th scope="row">Number/Message:</th>
                <td>{{msg}}</td>
              </tr>
              <tr class="table-light small">
                <th scope="row">Process:</th>
                <td>{{prc}}</td>
              </tr>
              <tr class="table-light small">
                <th scope="row">Trace:</th>
                <td>{{trc}}</td>
              </tr>
              <tr class="table-light small">
                <th scope="row">Environment&nbsp;Info:</th>
                <td>{{env}}</td>
              </tr>
              <tr class="table-light small">
                <th scope="row">Created:</th>
                <td>{{CD.year}}/{{CD.month}}/{{CD.day}}</td>
              </tr>
              <tr class="table-light small">
                <th scope="row">Processed:</th>
                <td>{{PD.year}}/{{PD.month}}/{{PD.day}}</td>
             </tr>
            </tbody>  
          </table>
          <ng-container *ngIf="ET.code">
            <table class="table table-hover" style="text-align: center;">
              <thead>
                <tr class="table-dark">
                  <th scope="col">Action</th>
                  <th scope="col">Email</th>
                  <th scope="col">Pager No.</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-light small">
                  <td>
                    {{ET.code}}<br>
                    {{ET.desc}}
                  </td>
                  <td>{{ET.email}}</td>
                  <td>{{ET.pager}}</td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container class="container justify-content-center" *ngIf="collectionSize == 0">
    <p style="margin-left: 40px; margin-right: 40px; text-align: center;">
      There are no items that match the given criteria.<br>
      Please make changes to your selections, then try again.
    </p>
  </ng-container>
</div>