.scroll {
  max-height: 400px;
  display: block;
  overflow-y: scroll;
}

.mtb {
  display: block;
  overflow-x: scroll;
}

thead {
  text-align: center;
}
tbody {
  text-align: justify
}