<div class="card border-info mb-3" cdkDrag style="z-index: 7; max-width: 46.5rem; width: 50%; min-width: 20rem; height: 39%;">
  <div class="card-header">
    HAL Message Viewer
    <button type="button" class="close float-right" (click)="msgClose(idPicked)">&times;</button>
  </div>
  <div class="card-body" style="overflow-y: scroll;">
    <table class="table table-hover">
      <thead>
        <tr class="table-info">
          <th colspan="2" style="text-align: center;">Data for item ID: {{found.ID}}</th>
        </tr>
      </thead>
      <tbody class="mvt">
        <tr class="table-light small">
          <th scope="row">System:</th>
          <td>{{found.SourceSystem}}</td>
        </tr>
        <tr class="table-light small">
          <th scope="row">Number/Message:</th>
          <td><span *ngIf="found.LogNumber">({{found.LogNumber}}) </span>{{found.Message}}<span *ngIf="found.Message == ''">No message included</span></td>
        </tr>
        <tr class="table-light small">
          <th scope="row">Process:</th>
          <td>{{found.ProcessName}}<span *ngIf="found.ProcessName == ''"> N/A</span></td>
        </tr>
        <tr class="table-light small">
          <th scope="row">Trace:</th>
          <td>{{found.TraceInfo}}<span *ngIf="found.TraceInfo == ''"> N/A</span></td>
        </tr>
        <tr class="table-light small">
          <th scope="row">Environment Info:</th>
          <td>{{found.EnvironmentInfo}}</td>
        </tr>
        <tr class="table-light small">
          <th scope="row">Created:</th>
          <td>{{found.StartDate | date :'yyyy-MM-dd'}}</td>
      </tr>
      <tr class="table-light small">
        <th scope="row">Processed:</th>
        <td>{{found.EndDate | date :'yyyy-MM-dd'}}</td>
        </tr>
      </tbody>  
    </table>
    <ng-container *ngIf="found.eT.code">
      <table class="table table-hover" style="text-align: center;">
        <thead>
          <tr class="table-dark">
            <th scope="col">Action</th>
            <th scope="col">Email</th>
            <th scope="col">Pager No.</th>
          </tr>
        </thead>
        <tbody class="mvt">
          <tr class="table-light small">
            <td>
              {{found.eT.code}}<br>
              {{found.eT.desc}}
            </td>
            <td>{{found.eT.email}}</td>
            <td>{{found.eT.pager}}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>