<ng-container *ngIf="idPicked">
  <table class="table table-hover">
    <thead>
      <tr class="table-secondary" style="text-align:center;">
        <th colspan="2"> HAL Message Viewer</th>
      </tr>
    </thead>
    <!--fill with info from table-->
    <tbody>
      <tr class="table-light small">
        <th scope="row">ID:</th>
        <td></td>
      </tr>
      <tr class="table-light small">
        <th scope="row">System:</th>
        <td></td>
      </tr>
      <tr class="table-light small">
        <th scope="row">Number/Message:</th>
        <td></td>
      </tr>
      <tr class="table-light small">
        <th scope="row">Process:</th>
        <td></td>
      </tr>
      <tr class="table-light small">
        <th scope="row">Trace:</th>
        <td></td>
      </tr>
      <tr class="table-light small">
        <th scope="row">Environment Info:</th>
        <td></td>
      </tr>
      <tr class="table-light small">
        <th scope="row">Created:</th>
        <td></td>
      </tr>
      <tr class="table-light small">
        <th scope="row">Processed:</th>
        <td></td>
      </tr>
    </tbody>  
  </table>
  <table class="table table-hover">
    <thead>
      <tr class="table-info">
        <th scope="col">Action</th>
        <th scope="col">Email</th>
        <th scope="col">Pager No.</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-light small">
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</ng-container>